<?xml version="1.0"?>
<launch>
  <param name="use_sim_time" value="true"/>
  
  <arg name="paused" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="urdf_path" default="$(find navigation)/urdf/manipulater.urdf"/>

  <!-- Check below file (to know why we used it)
  <rosparam file="$(find navigation)/config/gazebo_ros_control_params.yaml" command="load"/> -->

  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find navigation)/worlds/world_1.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <param name="robot_description" textfile="$(arg urdf_path)" />

  <!-- push robot_description to factory and spawn robot in gazebo at the origin, change x,y,z arguments to spawn in a different position -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 0 -y 0 -z 0"
    respawn="false" output="screen" />

  <!-- launching in rviz -->
  <arg  name="model" />
  <param name="robot_description"  textfile="$(find navigation)/urdf/manipulater.urdf" />
  <param   name="use_gui"  value="true" />
  <node    name="joint_state_publisher"    pkg="joint_state_publisher"    type="joint_state_publisher" />
  <node    name="robot_state_publisher"    pkg="robot_state_publisher"    type="robot_state_publisher" />
  <node    name="rviz"    pkg="rviz"    type="rviz" args="-d $(find navigation)/urdf/manipulater.urdf" />

</launch>